<component name="ArtifactManager">
  <artifact type="war" name="springmvc-springdata-mongodb:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvc-springdata-mongodb-1.0.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc-springdata-mongodb:war exploded" />
    </root>
  </artifact>
</component>